.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
	width: 100%;
}

.header .buttons {
	background-color: rgb(16, 16, 16);
  color: white;
  display: flex;
}

.header .buttons span {
  color: white;
}

.title {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 15px;
}

.title i {
  font-size: 32px;
}
