
.container {
	position: relative;
	width: 100%;
	height: 100%;
  display: flex;
}

.about {
  display: flex;
  flex-direction: column;
  gap: 4vh;
  padding: 30px;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}