.container {
	position: relative;
	width: 100%;
	height: 100%;
  display: flex;
}

.about {
  display: flex;
  flex-direction: column;
  gap: 4vh;
  padding: 30px;
  margin-left: 24vw;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.stacks-container {
  width: auto;
  padding: 1vw;
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.description span {
  color: #FF07A0 !important;
}