.card {
	display: flex;
	flex-direction: column;
	gap: 19px;
	border-radius: 30px;
	padding: 20px;
	width: 340px;
	height: min-content;
	position: fixed;
	top: 60px;
	width: 21vw;
}

.card img {
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 24px;
	width: 240px;
}

.redes,
.buttons {
	display: flex;
	gap: 10px;
}

.redes i {
	font-size: 23px;
}

.redes .btn {
	padding: 10px;
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.1);
}
